@charset "UTF-8";
/* CSS Document */

body.game {
	background-image: url("../images/green.png");
}

#header-row {
	background-image: url("../images/green_textured.png");
}

h2 {
	color: #fff !important;
}

.navBtn {
	width: 200px;
}

.marginleft {
	margin-left: 3px;
}

/* glowing/flashing button, revised from codepen.io BY Muhammad Arslan Aslam */
@-webkit-keyframes glowing {
  0% { -webkit-box-shadow: 0 0 3px #cfc; }
  50% { -webkit-box-shadow: 0 0 40px #FF0000; }
  100% { -webkit-box-shadow: 0 0 3px #cfc; }
}
@keyframes glowing {
  0% { box-shadow: 0 0 3px #cfc; }
  50% { box-shadow: 0 0 40px #fff; }
  100% { box-shadow: 0 0 3px #cfc; }
}
.enterBtn {
  -webkit-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}


/* In-Game styles */
table#game_board {
	margin: auto;
	border-style: solid;
	border-width: 10px;
	border-color: rgb(100,100,100);
}

table#game_board td {
	padding: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(50,50,50);
}

#messages p {
	margin: 0px;
}

td.hovered_over:hover {
	background: url('../images/hover.gif');
	background-size: 100% 100%;
}